body {
  background-color: #FFFFFF;
  /*background-color: #404040;*/
  font-family: Source Sans Pro;
  }

hr {
  line-height:0px;
  padding: 0px;
  margin:0px;
  margin-bottom: 5px;
  }

.container {
  position: absolute;
  height: 300px;
  width: 1200px;
  top: 60px;
}

.card {
  height: 420px;
  width: 400px;
  background-color: #17141d;
  color: #404040;
  border-radius: 10px;
  /*box-shadow: -1rem 0 3rem #000;*/
  box-shadow: -1px 15px 30px -12px black;
  position: relative;
  left: 0px;
  display: inline-block;
}

p,h2,h3,h4,h5 { 
margin-left: 10px;
margin-right: 10px;
 }

.bigDescriptions {
font-size: 22px;
align-items: center;
padding-left: 4%;
padding-right: 4%;
display: -webkit-flex;
}

.summary { text-align: justify; }

.btn {
background-color: #D0D0D0;
color: #404040;
margin: 5px;
}

.inline { 
display: inline-block;
vertical-align: middle;
}

.circle {
  height: 15px;
  width: 15px;
  border-radius: 50%;
  display: inline-block;
}

code {
 color: #FFFFFF;
 background-color: #337ab7;
 opacity: 90%;
}
